/*border*/
.blue :hover{
    border-color: #0065FC;
    border-top: solid;
    padding-top: 5px;
}
.backblue{
    background-color: #0065FC;
}
.lightblue{
    border-color: #DEEBFF;
}
.backgrey{
    border-color: #F2F2F2;
    

}
.colorgris{
    color: #F2F2F2;
    
}

/*Body*/
body{
    font-family: 'Raleway', sans-serif ;
    max-width: 1200px;
    margin: 0 auto;
/*Fin partie body*/ 
}
/*Container*/
#Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 50px;
}
/*header*/
/**header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 100px;
    padding: 10px;
}
#LogoReservia {
    width: 150px;
}
nav {
    display: flex;
    align-items: center;
    color: blue;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    padding-left: 30px;
}
#activites{
    color: black;
}
**/

.navbar {
    width: auto;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo  hebergement activites inscrire";
    grid-gap: 20px;
    margin: auto;
}
nav img {
    width: 100px;
    margin: auto;
    padding-top: 15px;
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color:#0065fc ;
}
.hebergement a:hover {
    border-top: solid #0065fc;
    padding-top: 15px;
}

.activites a:hover {
    border-top: solid #0065fc;
    padding-top: 15px;
}

.inscrire a:hover {
    border-top: solid #0065fc;
    padding-top: 15px;
}

.logo {
     grid-area: logo;
    
 }

 .hebergement {
     grid-area: hebergement;
     margin-top: 20px;
     
 }

 .activites { 
     grid-area: activites;
     margin-top: 20px;
 }
 .activites a {
     color: black;
 }
 .inscrire {
     grid-area: inscrire;
     margin-top: 20px;
 }

/*Fin header*/
/*Section1 zone de réservation */
/*Zone de recherche*/
.reservation h1{
    margin-left: 10px;
}
.reservation p{
    margin-left: 10px;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordurecherche{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}
.paddingrecherche{
    padding-left: 20px;   
}
.boutonrecherche{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.bordurezero{
    border: none;
}
.mapicon{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}

/*.reservation p {
    background-color: blue;
    border-radius: 30px;
    outline: none;*/
    
/*Fin zone de recherche*/
.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    padding-left: 0;
    border-radius: 30px;
    background: #DEEBFF;
    width: 30px;
    height: 30px;
}
.picons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: solid 2px #F2F2F2;
    padding: 5px;
    padding-left: 0;
    height: 20px;
}
.picons span {
    padding: 7px;
}
.filtresrecherche {
    margin: 10px;
}
/*Fin de de la zone de réservation*/
/*.marseille:nth-child (2)*/
/*.marseille {
    flex: 2; 
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
   
    align-content: flex-start;
    flex-direction: column;
    padding: auto;
    height: 150px;
}*/
/*flex-direction: column; column reverse; raw-reverse; */
.populaires {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
}
/*.image {
    display: flex;

    width: 160px;
    height: 160px;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    margin-right: 15px;
}*/
.aside {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    width: 30px;
}
/*Description des cartes d'hébergements*/
#hebergements {
    margin: auto;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cartes {
    display: flex;
    flex-wrap: wrap;
}
.cartes .modelecarte {
    margin-right: 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 15px;
    border: solid 2px #F2F2F2 ;
    padding: 2px;
    width: 200px;
    height: 180px;
}
.cartes .modelecarte img {
    width: 200px;
    height: 100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
}
.cartes .modelecarte .headercarte {
    margin-left: 10px;
    margin-top: -20px;
}
.cartes .modelecarte .cartebody {
    margin-left: 10px;
    margin-top: -15px;
}