
@import url('https://fonts.googleapis.com/css2? family= Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500; 1 600 ; 1 700 & affichage = échanger');
/*Reglage general*/
.flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexaround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexbetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexcolumncentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexcolumnaround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.flexcolumnbetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.textdecorationone {
    text-decoration: none;
}
.bordernone {
    border: none;
}
.policegras {
    font-weight: bold;
}

/*border*/
.blue :hover{
    border-color: #0065FC;
    border-top: solid;
    padding-top: 5px;
}
.backblue{
    background-color: #0065FC;
}
.lightblue{
    border-color: #DEEBFF;
}
.backgrey{
    background-color:  #f2f2f2;
    
}
.colorgris{
    color: #F2F2F2;
    
}
.colorblue {
    color: #0065FC;
}

/*Body*/
body{
    font-family : 'Raleway', sans-serif ;
    
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
/*Fin partie body*/ 
}
/*Container*/
#Container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 50px;
}
/*header*/
/**header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 100px;
    padding: 10px;
}
#LogoReservia {
    width: 150px;
}
nav {
    display: flex;
    align-items: center;
    color: blue;
}
nav ul {
    display: flex;
}
nav li {
    list-style: none;
    padding-left: 30px;
}
.coloractivites{
    color: black;
}**/


.navbar {
    width: auto;
    display: grid;
    grid-template-columns: 6fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "logo  hebergement activites inscrire";
    grid-gap: 20px;
    margin: auto;
}
nav img {
    width: 100px;
    margin: auto;
    padding-top: 15px;
    text-decoration: none;
    
}

a {
    text-decoration: none;
    color:#0065fc ;
}
.hebergement a:hover {
    border-top: solid #0065fc;
    padding-top: 15px;
}

.activites a:hover {
    border-top: solid #0065fc;
    padding-top: 15px;
}

.inscrire a:hover {
    border-top: solid #0065fc;
    padding-top: 15px;
}

.logo {
     grid-area: logo;
    
 }

 .hebergement {
     grid-area: hebergement;
     margin-top: 20px;
     
 }

 .activites { 
     grid-area: activites;
     margin-top: 20px;
 }
 .activites a {
     color: black;
 }
 .inscrire {
     grid-area: inscrire;
     margin-top: 20px;
 }
/*Fin header*/
/*Section1 zone de réservation */
/*Zone de recherche*/
.reservation h1{
    margin-left: 10px;
}
.reservation p{
    margin-left: 10px;
}
.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordurecherche{
    width: 400px;
    border-radius: 10px;
    border: 0.5px solid #F2F2F2;
}
.paddingrecherche{
    padding-left: 20px;   
}
.boutonrecherche{
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.bordurezero{
    border: none;
}
.mapicon{
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    
}
.recherche{
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    outline: none;
}

/*.reservation p {
    background-color: blue;
    border-radius: 30px;
    outline: none;*/
    
/*Fin zone de recherche*/
.filtres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    padding-left: 0;
    border-radius: 30px;
    background: #DEEBFF;
    width: 30px;
    height: 30px;
}
.picons {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: solid 2px #F2F2F2;
    padding: 5px;
    padding-left: 0;
    height: 20px;
}
.picons span {
    padding: 7px;
}
.filtresrecherche {
    margin: 10px;
}

/*Description des cartes d'hébergements*/
.tblocmarseille {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}

.blocs {
    padding-left: 20px;
    padding-right: 20px;
}
.bloc1 {
    margin-bottom: 10px;
}
.bloc2 {
    margin-top: 10px;
}
.descriptcartes {
    width: 90%;

}
.modelecarte {
    width: 30%;
    height: auto;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.modelecarte :hover{
    cursor: pointer;
    transform: scale(1.03);
}
.imgmodele1
{
    background-image: url(Dossier/images/hebergements/4_small/Auberge_la-canabiere.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;

}
.imgmodele2 {
    background-image: url(Dossier/images/hebergements/4_small/Hotel_du_port.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}
.imgmodele3 {
    background-image: url(Dossier/images/hebergements/4_small/Hotel_les_mouhettes.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}
.imgmodele4 {
    background-image: url(Dossier/images/hebergements/4_small/Hotel_de_la_mer.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}
.imgmodele5
{
    background-image: url(Dossier/images/hebergements/4_small/Auberge_le_panier.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}
.imgmodele6 {
    background-image: url(Dossier/images/hebergements/4_small/Hotel_chez_amina.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120px;
    border-radius: 15px 15px 0 0;
    
}
/*Bloc 2 cartes les plus populaire*/
.tblocpopulaire {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.blocpopulaire {
    padding-left: 20px;
    padding-right: 20px;
}
.blocpopulaire1 {
    margin-bottom: 20px;
}
.modelecarte2 {
    height: auto;
    background-color: white;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.modelecarte2 :hover {
    cursor: pointer;
    transform: scale(1.03);
}

.imgmodele7 {
    background-image: url(Dossier/images/hebergements/4_small/Le_soleil_du_matin.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.descriptcartes2 {
    width: 60%;
    padding-left: 5%;

}
.imgmodele8 {
    background-image: url(Dossier/images/hebergements/4_small/Au_coeur_de_leau.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgmodele9 {
    background-image: url(Dossier/images/hebergements/4_small/Tout_bleu_et_blanc.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}

/*Section activités*/
.activMarseille {
    margin-top: 50px;
    margin-bottom: 50px;
}
.cartactivites {
    width: 100%;
    height: 600px;
}
/*Ajustement des cartes*/
.cartactivite1 {
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.hauteurtitre {
    height: 70px;
}
.titreactivites {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5px;
    width: 95%;
}
.imgactivite1 {
        background-image: url(Dossier/images/activites/3_medium/Vieux_port.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 530px;
        border-radius: 15px 15px 0 0 ;
}
.blocactivitefinp {
    width: 23%;
    height: 600px;
}
.cartactivitefinp{
    width: 100%;
    border-radius: 15px;
    box-shadow: 5px 5px 5px 1px #F2F2F2;
}
.imgactivite2 {
    background-image: url(Dossier/images/activites/4_small/Fort_de_pomegues.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0 0 ;
}
.imgactivite3 {
    background-image: url(Dossier/images/activites/4_small/Ile_du_frioul.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0 ;
}
.imgactivite4 {
    background-image: url(Dossier/images/activites/3_medium/Parcnational_des_calanques.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
    border-radius: 15px 15px 0 0 ;
}

.imgactivite5 {
background-image: url(Dossier/images/activites/4_small/Notredame_de_la_garde.jpg);
background-size: cover;
background-position: center;
width: 100%;
height: 200px;
border-radius: 15px 15px 0 0 ;
}

.imgactivite6 {
background-image: url(Dossier/images/activites/4_small/Parc_longchamp.jpg);
background-size: cover;
background-position: center;
width: 100%;
height: 200px;
border-radius: 15px 15px 0 0 ;
}